/* Style for footer */
.contact-info {
  height: 30vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  border-bottom: solid black 1.5px;
}

.copyright-info {
    height: 10vh;
    width: 100vw;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.email-info {
    height: 12.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-media-icons {
  height: 3.5vh;
  width: 2.5vw;
}

.social-media-div {
  width: 40vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
