.seasonal-images {
  height: 35vh;
  width: 13vw;
  /* border-left: solid black 1.5px; */
}

.seasonal-image-div {
  height: 40vh;
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.seasonal-div {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 5vh;
  background-color: #505050;
}

.seasonal-text {
    font-size: x-large;
}
